.search-table-components{
  background: #f3f7fb;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  .search-search-block{
    background: #fff;
  }
  .search-checkedTag-button-block{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .search-button-block{
    width: 200px;
    display: flex;
    justify-content: space-around;
  }
  .checked-span{
    margin: 0 5px 0;
    .ant-tag{
      margin: 0 0 0 5px;
    }
  }
  .search-table-block{
    margin: 15px 0 0 ;
    padding: 15px 0 0 ;
    background: #fff;
    display: flex;
    flex-direction: column;
    .table-dom{
    }
  }

}